[package]
name = "ergo-pin"
version = "0.1.0"
authors = ["Wim Looman <wim@nemo157.com>"]
edition = "2018"

[lib]
proc-macro = true

[dependencies]
syn = { version = "0.15.26", features = ["extra-traits", "fold", "full"] }
quote = "0.6.11"
proc-macro2 = "0.4.27"
